// import web font **************************************************

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&family=Roboto:ital,wght@0,400;0,500;1,700&display=swap");

// font variables ***************************************************

$title-font: "Somatic-Rounded";
$primary-font: "MazzardL-SemiBold";

// font width  ***************************************************

$font-light: 100;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
$font-exteabold: 800;
$font-black: 900;