// color variables ***************************************************

$themecolor1:#000000;
$themecolor2:#ffffff;

$bordercolor1:$themecolor1;
$bordercolor2:$themecolor2;

$color1:$themecolor1;
$color2:$themecolor2;

$bgcolor1:$themecolor1;
$bgcolor2:$themecolor2;




// responsive screen variables ***************************************************

$screen2000:2000px;
$screen1780:1800px;
$screen1600:1600px;
$screen1440:1440px;
$screen1366:1366px;
$screen1325:1325px;
$screen1280:1280px;
$screen1199:1199px;
$screen1024:1024px;
$screen991:991px;
$screen768:768px;
$screen767:767px;
$screen660:660px;
$screen600:600px;
$screen500:500px;
$screen435:435px;
$screen375:375px;
$screen360:360px;
$screen320:320px;

$minscreen1200:1200px;
$minscreen992:992px;
$minscreen768:768px;
$minscreen576:576px;

$container-width:1920px;